.input__error-message {
  width: 100%;
  font-family: "Inter", 'Arial',
    'Helvetica',
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  display: none;
  order: 2;
}

.input__error-message_show {
  display: flex;
}